#cuatro{
background-image:url(../img/fin.png);
background-size: cover;
}

#cuatro ol li{
    margin: 20px 120px;
    padding:20px;
}
#cuatro h2{
    font-size:2em ;
    text-align: center;
    padding: 25px 0px;
}